@import "~bootstrap/scss/bootstrap";

$dark_background: #282828;
$primary: #0092cc;

body {
    // text-align: center;
    padding: 50px;
    color: #FFF;
    background-color: $dark_background;
  }

  .ActionButtons{
    margin-right: 10px;
    margin-bottom: 10px;

  }
  .addButtons{
    margin-bottom: 10px;
  }
  .errorText{
    color: red;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  .categoriesPreview{
    margin-left: 10px;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  